.login-container {
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    min-height: 700px;
}

.login {
    display: flex;
    width: 80%;
    height: 600px;
    background-color: rgba(34, 40, 49, 0.8);
}

.side-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 40%;
    background-color: rgba(0, 173, 181, 0.6);
    margin: 0 0 0 auto;
}

.heading {
    font-size: 2rem;
}

p {
    font-size: small;
}

.brand {
    display: block;
    padding: 10px 5px;
}

.brand-heading {
    display: block;
    align-self: center;
    font-size: 36px;
    color: #00adb5;
    text-align: center;
}

.form-group {
    margin: 30px auto;
    width: 70%;
}

.sign-in {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 30px auto;
    background-color: #00adb5;
    padding: 10px 5px;
}

.sign-in:hover {
    animation-name: in-large;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.invalid-login {
    position: relative;
    color: #fc5404;
    font-size: 1.1rem;
    font-weight: bolder;
    height: 1.2rem;
}

.error {
    text-align: left;
    position: relative;
    color: #fc5404;
    font-size: 0.7rem;
    font-weight: normal;
    margin: 3px 0;
}

@keyframes in-large {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.1, 1);
    }
}