<div class="dashboard-container">
    <div class="card bg-red">
        <article>
            <h1>
                Welcome Admin
            </h1>
            <p>
                Product Inventory menagement System
            </p>
        </article>
    </div>
    <div class="card bg-purple" (click)="onAddProduct()">
        <h1>
            Add New Product
        </h1>
        <p>
            Add new Product to Inventory
        </p>
    </div>
    <div class="card bg-green" (click)="onProductInventory()">
        <h1>
            Product Inventory
        </h1>
        <p>
            View your Product Inventory
        </p>
    </div>
</div>